<a href="https://colab.research.google.com/github/sh7ata/pandas-bootcamp/blob/master/Pandas_Indexing_with_Boolean_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd

In [65]:
names = pd.DataFrame({'names': ['Isidor', 'Andy', 'Dener'], 
                     'favorite_fruit': ['mango', 'watermelon', 'pineapple'],
                     'favorite_sport': ['soccer', 'soccer', 'basketball']})

In [66]:
names

    names favorite_fruit favorite_sport
0  Isidor          mango         soccer
1    Andy     watermelon         soccer
2   Dener      pineapple     basketball

#### Indexing columns using boolean "arrays"

In [67]:
py_list = [True, False, True] # plain python list

In [68]:
names.loc[:, py_list]

    names favorite_sport
0  Isidor         soccer
1    Andy         soccer
2   Dener     basketball

In [69]:
pd_array = pd.array([True, False, True]) # pandas BooleanArray

In [70]:
names.loc[:, pd_array]

    names favorite_sport
0  Isidor         soccer
1    Andy         soccer
2   Dener     basketball

In [71]:
# pandas Series with alignable index
pd_series = pd.Series(data=[True, False, True], 
                      index=['names', 'favorite_fruit', 'favorite_sport'])

In [72]:
names.loc[:, pd_series]

    names favorite_sport
0  Isidor         soccer
1    Andy         soccer
2   Dener     basketball

In [73]:
# pandas series with default RangeIndex (unalignable in names.columns)
pd_series2 = pd.Series([True, False, True])

In [74]:
names.loc[:, pd_series2] # throws IndexingError

IndexingError: ignored